#myHeader{
    background-color: gray;
    color: blue;
    font-weight: bold;
}

tr:nth-child(even){
    background-color: yellow;
}


.xButton{
    background-color: red;
    color: white;
}

.aTask{


}

.dueField{

}

tr.strike{
    text-decoration: line-through;
    background-color: grey;
}

